body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.wrapper {
    display: flex;
    min-height: 100vh
}

.container {
    width: 680px;
    margin: 0 auto;
}

.inactive {
    display: none;
}

/*------------------*/
/*----MAIN BLOCK----*/
/*------------------*/


/*-----HEADER-------*/

.main {
    width: 66%;
    background-color: white;
    position: relative;
}

.header {
    margin-top: 40px;
}

.header__logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.header__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-top: 78px;
}

.header__call {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
}

/*-----BUTTONS-------*/

.buttons {
    margin-top: 43px;
}

.buttons-radio-container {
    display: block;
    width: 150px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

/* Hide the browser's default radio button */
.buttons-radio__hide {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

/* Create a custom radio button */
.buttons-radio__button {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #ABABAB;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.buttons-radio__hide:checked ~ .buttons-radio__button {
    border: 2px solid #333333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.buttons-radio__button:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.buttons-radio__hide:checked ~ .buttons-radio__button:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.buttons-radio-container .buttons-radio__button:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333333;
}

.buttons-radio__label {
    padding-left: 5px;
}

.buttons-categories {
    display: none;
    flex-wrap: wrap;
    padding: 8px 10px 15px 0;
}

.buttons-categories__button {
    padding: 6px 15px;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    color: #ABABAB;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 10px 5px 0;
    cursor: pointer;
}

.buttons-search {
    display: none;
}

.buttons-search__input {
    margin: 8px 0 20px 0;
    width: 100%;
    outline: none;
    height: 42px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.buttons-search__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
}

.active-flex {
    display: flex;
}

.active-block {
    display: block;
}

.buttons-joke {
    padding: 10px 40px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}



/*-----JOKE-------*/

.joke-wrapper {
    margin-top: 40px;
    margin-bottom: 120px;
}

.joke {
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
}

.joke__favourite {
    position: absolute;
    top: 40px;
    right: 0;
    cursor: pointer;
}

.joke-container {
    width: 540px;
    margin: 0 40px 0 100px;
    position: relative;
}

.joke__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-top: 67px;
}

.joke__id-title {
    color: #ABABAB;
}

.joke__id-number {
    color: #8fa9fc;
    text-decoration: underline;
}

.joke__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-top: 5px;
}

.joke__icon {
    position: absolute;
    top: 67px;
    left: -60px;
}

.joke__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    padding-bottom: 40px;
}

.joke__last-update {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

.joke__categories {
    padding: 6px 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 6px;
    right: 0;
}


/*-----------------------*/
/*----FAVOURITE BLOCK----*/
/*-----------------------*/

.favourite {
    width: 34%;
    background-color: #F8F8F8;
}

.favourite__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
    margin-top: 40px;
}

.favourite-container {
    width: 400px;
    margin: 0 auto;
}

.favourite-wrapper {
    margin-top: 20px;
}

.favourite-joke {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.favourite-joke-container {
    width: 300px;
    margin: 0 20px 0 80px;
    position: relative;
}

.favourite-joke__favourite {
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
}

.favourite-joke__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-top: 47px;
}

.favourite-joke__id-title {
    color: #ABABAB;
}

.favourite-joke__id-number {
    color: #8fa9fc;
    text-decoration: underline;
}

.favourite-joke__text {
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.joke__icon {
    position: absolute;
    top: 67px;
    left: -60px;
}

.favourite-joke__last-update {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    margin-top: 20px;
    padding-bottom: 20px;
}



/*-------------------*/
/*----MOBILE VIEW----*/
/*-------------------*/


.main__burger {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
}

.main__burger-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
    margin-top: 40px;
}

.main__burger-button {
    position: absolute;
    right: 92px;
    width: 28px;
    height: 28px;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
}

.main__burger-button:before {
    content: '';
    width: 14px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 7px;
}

.main__burger-button:after {
    content: '';
    width: 14px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    left: 7px;
}

.main__burger-button.main__burger-button--close:before {
    content: '';
    top: 13px;
    left: 7px;
    transform: rotateZ(45deg);
}

.main__burger-button.main__burger-button--close:after {
    content: '';
    top: 13px;
    left: 7px;
    transform: rotateZ(136deg);
}

@media (max-width: 1300px) {
    .favourite-container {
        width: 350px;
    }
    .favourite-joke-container {
        width: 250px;
    }
}

@media (max-width: 1200px) {
    .favourite-container {
        width: 300px;
    }
    .favourite-joke-container {
        width: 200px;
    }
    .container {
        margin: 0 40px;
    }
}

@media (max-width: 1150px) {
    .main {
        display: block;
        width: 100%;
    }
    .favourite {
        z-index: 100;
        display: none;
        /*min-height: 100vh;*/
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        overflow: auto;
    }
    .main__burger {
        display: block;
    }
    .favourite-container {
        width: 400px;
    }
    .favourite-joke-container {
        width: 300px;
    }
    .favourite__mobile {
        display: none;
        z-index: 10;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: auto;
    }
    .favourite__mobile-left {
        width: 40%;
        background-color: rgba(0,0,0,0.4);
    }
    .favourite__mobile-right {
        width: 60%;
        background-color: #F8F8F8;
    }
    .favourite__title {
        display: none;
    }
    .favourite-wrapper {
        margin-top: 88px;
    }
}

@media (max-width: 750px) {
    .container {
        width: 450px;
        margin: 0 auto;
    }
    .joke-container {
        width: 350px;
        margin: 0 20px 0 80px;
        position: relative;
    }
    .favourite-container {
        width: 340px;
    }
    .favourite-joke-container {
        width: 240px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 340px;
        margin: 0 auto;
    }
    .joke-container {
        width: 240px;
        margin: 0 20px 0 80px;
        position: relative;
    }
    .main__burger {
        top: 20px;
        right: 20px;
    }
    .header {
        margin-top: 20px;
    }
    .favourite {
        width: 100%;
    }
    .favourite__mobile-left {
        width: 0;
    }
    .favourite__mobile-right {
        width: 100%;
    }
    .joke__bottom {
        display: block;
    }
    .joke__last-update {
        padding-bottom: 10px;
    }
    .joke__bottom {
        padding-bottom: 20px;
    }
}

.active-mobile {
    display: flex;
}






